/* ----------------------------- promo ---------------------------------*/

.promo {

   &__container {
      @media (min-width: $tablet){
         display: flex;
      }
   }

   &__body {
      flex: 0 0 rem(500);
      position: relative;
      z-index: 5;
      align-self: center;
      @media (min-width: $tablet){
         @include adaptiveValue("padding-right", 50, 20);
      }
      @media (max-width: $tablet){
         text-align: center;
      }
      @media (max-width: $mobileSmall){
         text-align: center;
         margin: 0 15px;
      }
   }

   &__title {
      font-size: rem(40);
      font-weight: 900;
   }

   &__sub-title {
      //color: $darkGrayColor;
      font-size: rem(22);
      font-weight: 700;
      padding: rem(8) 0;
      & span {
         font-size: rem(20);
         color: $yellowColor;
         @media (any-hover: hover){
            &:hover{
               //box-shadow: 0 0 22px rgba(37, 37, 37, 0.7);
               //color: #000;
               text-decoration: underline
            }
         }
      }
   }

   &__tel {
      font-size: rem(24);
      font-weight: 600;
      @media (any-hover: hover){
            &:hover{
               //box-shadow: 0 0 22px rgba(37, 37, 37, 0.7);
               color: $orangeColor;
            }
         }
   }

   &__btn {
      margin-top: rem(10);
      & a {
         width: 100%;
      }
      @media (max-width:$tablet){
         margin-bottom: rem(30);
      }
   }

   &__slider {
      flex: 1 1 auto;
      min-width: 0;
      align-self: flex-start;
   }
   @media (max-width: $mobileSmall){
      margin: 0 -15px;
   }
}

.slider-promo {
   position: relative;
   &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      left: 0;
      background-color: #fff;
      z-index: 2;
      transform: translate(-100%, 0);
   }

   &__wrapper {
   }

   &__slide {
      width: rem(360);
      position: relative;
      overflow: hidden;
      max-height: rem(500);
      &.swiper-slide-active {
         .swiper-slide__img {
            padding-bottom: 100%;
         }
      }
      @media (max-width: $mobileSmall){
         width: 100%;
      }
   }
}

.swiper-slide {

   &__img {
      // transition: padding-bottom 0.6s ease 0s;
      padding-bottom: 100%;
      @media (min-width: $mobile){
         padding-bottom: 83%;
      }
   }

   &__content {
      position: absolute;
      color: inherit;
      max-width: 300px;
      @include adaptiveValue("left", 20, 15);
      @include adaptiveValue("bottom", 20, 15);
      @include adaptiveValue("padding", 20, 15);
      background-color: rgba(255, 255, 255, 0.9);
      &::before {
         position: absolute;
         bottom: 0;
         right: 0;
         transform: translate(100%, 0);
         width: rem(48);
         height: rem(48);
         background-color: $yellowColor;
         color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   &__title {
      font-weight: 700;

   }

   &__price {
      font-weight: 700;
      padding-top: rem(10);
   }
}

.controls-slider {

   &__dotts {
      @media (min-width: $mobile){
         position: absolute;
         bottom: rem(10);
         width: 100%;
         left: rem(396);
      }
      @media (max-width: $mobile){
         justify-content: center;
         padding-top: rem(20);
      }
   }

   &__arrows {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: calc(100% - 48px);
      left: 24px;
      z-index: 5;
      justify-content: space-between;
      @media (min-width: $pc){
         width: calc(100% + 48px);
         left: -24px;
      }
   }
}
.slider-arrows {
   pointer-events: auto;
}
.slider-arrow {

   &_prew {
   }

   &_next {
   }
}

/* ----------------------------- / promo ---------------------------------*/

/* --------------------------- servises --------------------------------*/

.services {
   @media (min-width:$mobile){
      margin: rem(30) 0;
      padding: rem(10) 0;
      background-color: $yellowColor;
   }
   &__list {
      display: grid;
      gap: rem(20);
      grid-template-columns: repeat(auto-fit, minmax(rem(150), 1fr));
      @media (max-width:$mobile){
         margin: rem(20) 0;
         // grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
         grid-template-columns: repeat(2, 1fr);
         row-gap: rem(40);
      }
   }
   &__item {
      display: flex;
      justify-content: center;
      @keyframes bounce {
               0%, 20%, 60%, 100% {
                  transform: translateY(0);
                  transform: translateY(0);
               }
            
               40% {
                  transform: translateY(-15px);
                  transform: translateY(-15px);
               }
            
               80% {
                  transform: translateY(-10px);
                  transform: translateY(-10px);
               }
            }
            @media (any-hover: hover){
               &:hover{
                  animation: bounce 0.5s;
               }
            }
            @media (max-width: $mobile){
               border: 2px dashed $yellowColor;
               border-radius: rem(20);
               padding: rem(15) 0;
               //background-color: $yellowColor;
            }
         }
         
   &__image img{
      @include adaptiveValue("max-height", 150, 100);
   }
}

/* -------------------------------  /Servises ------------------------------------*/

/* -------------------------------  websites ------------------------------------*/

.website {

   &__container {
   }

   &__title {
      padding-bottom: rem(20);
   }

   &__slider {
   }
}

.slider-website {
   position: relative;

   &__wrapper {
      
   }

   &__slide {
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            box-shadow: 0 0 22px rgba(37, 37, 37, 0.3);
         }
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      padding: rem(15);
      flex: 1 1 auto;
      align-items: flex-start;
      background-color: #f8f8f8;
   }

   &__title {
      flex: 1 1 auto;
      color: inherit;
      font-weight: 600;
      line-height: 150%;
      @include adaptiveValue("font-size", 24, 20);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $yellowColor
         }
      }
   }

   &__text {
   }

   &__controls {
   }

   &__dotts {
      justify-content: center;
   }

   &__arrows {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: calc(100% - 48px);
      left: 24px;
      z-index: 5;
      justify-content: space-between;
      @media (min-width: $pc){
         width: calc(100% + 48px);
         left: -24px;
      }
      @media (max-width: $mobile){
         display: none;
      }
   }
}
.swiper-wrapper {
}
.swiper-slide {

   &__img {
      padding-bottom: div math(251, 391);
   }
}
.controls-slider {
   &__dotts {
      padding-top: rem(20);
   }
}
.slider-arrows {
   pointer-events: auto;
}
.slider-arrow {

   &_prew {
   }

   &_next {
   }
}


/* -------------------------------  /websites ------------------------------------*/

/*--------------------------------- commerce--------------------------------------*/

.commercial {
}
.commercial__container {
}
.commercial__yandex {
   max-width: 100%;
   display: block;
   margin: 0 auto 40px;

}

.commercial__sambot {
   max-width: 100%;
   display: block;
   margin: 0 auto 40px;
   //border: 1px solid #000;
}


/*--------------------------------- /commerce--------------------------------------*/

/* ------------------------------- Hits ------------------------------------*/

.hits {
   &__title {
      padding: rem(20) 0;
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(180), 1fr));
      gap: rem(25);
   }

   &__footer {
      padding-top: rem(32);
      text-align: center;
   }

   &__more {
      min-width: rem(245);
   }
}

.hit {
   background: #f8f8f8;
   display: flex;
   flex-direction: column;
   position: relative;
   // box-shadow: 0 0 10px rgba(0,0,0,0.5);
   border: 1px solid rgb(175, 31, 31);
   &__item {
   }

   &__labels {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      @include adaptiveValue("right", 14, 10);
      @include adaptiveValue("top", 14, 10);
      font-size: rem(14);
      font-weight: 600;
   }

   &__label {
      flex: 0 0 rem(40);
      width: rem(40);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      &:not(:last-child){
         margin-bottom: rem(10);
      }


      &_sale {
         background: #e97171;
      }

      &_new {
         background: #128ce4;
      }

      &_hit {
         background: #17dbd8;
      }
   }

   &__image {
      padding-bottom: math.div(200px, 180px)*100%;
      overflow: hidden;
      img {
         transition: transform 0.3s ease 0s;
         @media (any-hover: hover){
            &:hover{
               transform: scale(1.2);
            }
         }
      }
      
   }

   &__body {
      flex: 1 1 auto;
      padding: rem(15);
      display: flex;
      flex-direction: column;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__text {
   }

   &__prices {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      line-height: 150%;
   }

   &__price {
      @include adaptiveValue("font-size", 20, 16);
      font-weight: 600;

      &_old {
         font-weight: normal;
         margin-left: rem(16);
      }
   }
}

.btn {
}


/*-------------------------------- defects -------------------------------*/

.defects{

   &__container {
   }

   &__link {
   }

   &__title {
      padding-bottom: rem(20);
   }

   &__item {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
      gap: rem(32);
      @media (max-width: $mobile){
         grid-template-columns: repeat(auto-fit, minmax(rem(150), 1fr));
         gap: rem(15);
      }
   }
}

.defect{
   background: #f8f8f8;
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);

   &__item {
   }

   &__image {
      padding-bottom: math.div(301px, 285px) * 100%;
   }

   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: rem(16) rem(16) rem(30) rem(16);
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      color: #000;
      padding-bottom: rem(10);
   }

   &__text {
      line-height: 120%;
   }

   &__price {
      padding-top: rem(10);
      font-weight: 600;
   }
}

/*------------------------------------ accessories -------------------------------------*/

.accessories {

   &__container {
      @media (min-width: $tablet){
         display: flex;
      }
   }

   &__body {
      flex: 0 0 rem(450);
      position: relative;
      z-index: 4;
      align-self: center;
      text-align: right;
      @media (min-width: $tablet){
         @include adaptiveValue("padding-left", 50, 20);
      }
      @media (max-width: $tablet){
         text-align: center;
      }
      @media (max-width: $mobileSmall){
         text-align: center;
         margin: 0 15px;
      }
   }

   &__title {
      font-size: rem(40);
      font-weight: 900;
   }

   &__sub-title {
      font-size: rem(18);
      font-weight: 500;
      padding: rem(10) 0;
      color: $darkGrayColor;
      line-height: 150%;
   }

   &__btn {
      margin-top: rem(20);
      & a {
         width: 100%;
      }
      @media (max-width:$tablet){
         margin-bottom: rem(30);
      }
   }

   &__slider {
      flex: 1 1 auto;
      min-width: 0;
      align-self: flex-start;
   }
   @media (max-width: $mobileSmall){
      margin: 0 -15px;
   }
}
.btn {
}
.slider-accessories {
   position: relative;
   &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      right: 0;
      background-color: #fff;
      z-index: 2;
      transform: translate(100%, 0px);
   }

   &__slide {
      width: rem(360);
      position: relative;
      overflow: hidden;
      max-height: rem(500);
      &.swiper-slide-active {
         .swiper-slide__img {
            padding-bottom: 100%;
         }
      }
      @media (max-width: $mobileSmall){
         width: 100%;
      }
   }
}

/*------------------------------------ /accessories -------------------------------------*/

/*----------------------------------- life ----------------------------------------*/

.life {

   &__container {

   }

   &__label {
      text-align: center;
      line-height: 150%;
      &:not(:last-child){
         margin-bottom: calc(8 /20) * 1em;
      }
   }

   &__title {
      padding-bottom: rem(32);
   }

   &__body {
      position: relative;
      @media (any-hover: none){
         overflow: auto;
         -webkit-overflow-scrolling: touch;
      }
   }

   &__list {
      margin: 40px 0;
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
      align-items: center;
      gap: rem(16);
      @media (any-hover: hover){
         justify-content: center;
      }
   }

   &__column {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 rem(-8);
      &:first-child{
         justify-content: flex-end;
      }
   }

   &__row {
      display: inline-grid;
      padding: 0 rem(8);
      gap: rem(16);
      grid-template-columns: auto;
      grid-auto-flow: column;
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
}
.row-life {
   
   &_left-top {
      justify-content: end;
      align-items: end;
   }

   &_left-bottom {
      justify-content: end;
      align-items: start;
   }

   &_center {
      display: block;
   }

   &_right-top {
      align-items: end;
   }

   &_right-bottom {
      align-items: start;
   }

   &__item {
      
      @media (any-hover: hover){
         img{
            transition: all 0.8s ease 0s;
            filter: grayscale(1);
         }
         &:hover {
            img {
               filter: grayscale(0);
            }
         }
      }
   }
}


/*-----*-----*-----*-----*-----*-----*----- page price-pc -----*-----*-----*-----*-----*-----*-----*-----*/


.pc-price {

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(30);
      background-color: $yellowColor;
      border-radius: rem(5);
   }

   &__title {
      font-size: rem(17);
      font-weight: 600;
      color: #fff;

   }

   &__list {
      margin-bottom: rem(40);
   }


   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      border-bottom: 1px solid #d7d7d7;
      padding: rem(10);
   }

   &__info {
      color:red;

   }
}
.price {

   &__title {
   }

   &__value {
      padding-left: rem(70);
      padding-right: rem(10);
   }
}


/*-----*-----*-----*-----*-----*-----*----- page smart-house -----*-----*-----*-----*-----*-----*-----*-----*/

.page {

   &__smart-house {
   }
}
.house-smart {

   &__container {
   }

   &__title {
      @include adaptiveValue("padding-bottom", 30, 10);;
   }

   &__content {
      display: flex;
      gap: rem(20);
      @media (max-width: $tablet){
         flex-direction: column;
      }
   }

   &__txt {
      padding: rem(20);
      flex: 1 1 calc(1240px / 500px) * 100%;
      //font-size: rem(22);
      @include adaptiveValue("font-size", 20, 16);
      line-height: 120%;
      font-weight: 500;
      @media (max-width:$tablet){
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
         border-radius: rem(10);
      }
   }

   &__image {
      //padding-bottom: calc(400px / 300px) * 100%;
      flex: 1 1 calc(1240px / 500px) * 100%;
      @media (max-width: $tablet){
         padding: 0 0 40% 0;
      }
   }

   &__list {
   }

   &__item {
   }

   &__label {
      text-align: center;
      margin: rem(30);
      padding: rem(30);
      border: 2px solid $yellowColor;
      border-radius: rem(10);
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      @media (max-width: $tablet){
         margin: rem(30) 0 0 0;
      }
   }
   
}


/*-----*-----*-----*-----*-----*-----*----- frontend -----*-----*-----*-----*-----*-----*-----*-----*/

.frontend {

   & p {
      padding-top: rem(10);
   }

   &__container {
   }

   &__title {
      padding-bottom: rem(30);
   }

   &__text {
      @include adaptiveValue("font-size", 18, 14);
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: rem(30);
      padding: rem(20);
      border: 1px solid $yellowColor;
      border-radius: rem(10);
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      gap: rem(40);
   }

   &__item {
      padding: rem(20);
      border: 2px dotted $yellowColor;
      border-radius: rem(20);
   }
}
.item-frontend {

   &__title {
      text-align: center;
      padding-bottom: rem(10);
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   &__text {
      font-weight: 500;
      line-height: 1.2;
   }
}

.web-sites {

   &__container {
   }

   &__title {
      padding-bottom: rem(20);
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      gap: rem(32);
   }

   &__item {
      //padding: rem(20);
   }
}

.item-website {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 22px rgba(37, 37, 37, 0.3);
   transition: box-shadow 0.2s ease 0s;
   @media (any-hover: hover){
      &:hover{
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
   }

   &__link {
   }

   &__image {
      padding-bottom: 90%;
   }

   &__body {
      padding: rem(10);
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
   }

   &__content {
   }

   &__title {
      
   }

   &__text {
      padding: rem(10) 0;
      font-weight: 500;
   }

   &__price {
      font-size: rem(16);
      font-weight: 700;
   }
}

.applications {

   &__container {
   }

   &__title {
      padding: rem(50) 0 rem(20) 0;
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
      gap: rem(50);
   }

   &__item {
   }
}
.item-application {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 22px rgba(37, 37, 37, 0.3);
   transition: box-shadow 0.2s ease 0s;
   @media (any-hover: hover){
      &:hover{
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
   }

   &__link {
   }

   &__image {
      padding-bottom: 90%;
   }

   &__body {
      padding: rem(10);
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
   }

   &__content {
   }

   &__title {
      padding: rem(10) 0;
   }

   &__text {
   }

   &__price {
   }
}



/*-----*-----*-----*-----*-----*-----*----- cartridges -----*-----*-----*-----*-----*-----*-----*-----*/

.cartridges {

   &__container {
   }

   &__title {
      padding-bottom: rem(30);
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      gap: rem(40);
   }

   &__item {
      padding: rem(20);
   }
}

.cartridge {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);

   &__body {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
   }

   &__image {
      padding-bottom: 70%;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      padding-top: rem(20);
   }

   &__text {
      font-weight: 500;
      line-height: 1.2;
      padding: rem(10) 0;
   }

   &__price {
      font-size: rem(20);
      font-weight: 700;
      padding-top: rem(10);
   }
}


/*-----*-----*-----*-----*-----*-----*----- belongings -----*-----*-----*-----*-----*-----*-----*-----*/

.belongings {

   &__container {
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
      gap: rem(30);
      padding: rem(20) 0 rem(50) 0;
   }

   &__item {
      padding: rem(20);
   }
}
.belonging {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);

   &__image {
      padding-bottom: 100%;
   }

   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      padding-top: rem(20);
   }

   &__text {
      color: #000;
      padding: rem(10) 0;
   }

   &__price {
      font-size: rem(16);
      font-weight: 700;
   }
}


/*-----*-----*-----*-----*-----*-----*----- Second -----*-----*-----*-----*-----*-----*-----*-----*/

.second {

   &__container {
   }

   &__title {
   }

   &__body {
   }

   &__label {
      text-align: center;
      margin: rem(30);
      padding: rem(30);
      border: 2px solid $yellowColor;
      border-radius: rem(10);
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
}


/*-----*-----*-----*-----*-----*-----*----- contacts -----*-----*-----*-----*-----*-----*-----*-----*/

.contacts {
}
.contacts__container {
   display: flex;
   flex-direction: column;
}

.contacts__content {
   font-size: rem(20);
   font-weight: 700;
}
.contacts__img {
   max-width: 100%;
   padding: 20px 0;
}

.contact__address {
   padding-bottom: rem(20);
}
.contact__mode {
   padding-bottom: rem(20);
   line-height: 110%;
}
.contact__tel {
   padding-bottom: rem(20);
   
   & a {
      color: $yellowColor;
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
            text-decoration: underline;
         }
      }
   }
}
.contact__soc {
   padding-bottom: rem(20);
   line-height: 140%;
   & a {
      color: $yellowColor;
      
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
            text-decoration: underline;
         }
      }
   }
}
.contact__mail {

   & a {
      color: $yellowColor;
      
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
            text-decoration: underline;
         }
      }
   }
}
.contacts__maps {
   padding-top: rem(40);
}


/*-----*-----*-----*-----*-----*-----*----- ads -----*-----*-----*-----*-----*-----*-----*-----*/

.ads {

   &__container {
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
      gap: rem(30);
      padding: rem(20) 0 rem(50) 0;
   }

   &__item {
      padding: rem(20);
   }
}
.ad {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);

   &__image {
      padding-bottom: 100%;
   }

   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      padding-top: rem(20);
   }

   &__text {
      color: #000;
      padding: rem(10) 0;
   }

   &__tel {
      font-size: rem(16);
      font-weight: 700;
   }

   &__price {
      font-size: rem(16);
      font-weight: 700;
   }
}

/*-----*-----*-----*-----*-----*-----*----- blog -----*-----*-----*-----*-----*-----*-----*-----*/


.blog {

   &__item {
      margin: rem(30) 0;
      //display: flex;
      padding: rem(20);
      //border: 1px solid $orangeColor;
      border-radius: 20px;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      @media (max-width: $mobile){
         display: flex;
         flex-direction: column;
      }
   }

   &__image {
      margin: rem(0) rem(20) rem(10) rem(0);
      max-width: 240px;
      float: left;
      @media (max-width: $mobile){
         max-width: 100%;
         margin: 0 0 20px 0;
      }
   }

   &__image img {
      width: 100%;
      border-radius: 20px;
   }

   &__title {
      font-size: rem(22);
      padding-bottom: rem(20);
   }

   &__sub-title {
      font-weight: 600;
      font-size: rem(16);
   }

   &__text {
      line-height: 130%;
   }

   &__text ul {
      padding: 0 0 10px 30px;
   }

   &__text li {
      list-style-type: disc;
   }

   &__text h4 {
      font-size: rem(18);
      font-weight: 700;
      padding: rem(10) rem(0);
   }

   &__btn {
      text-align: right;
      margin-top: rem(20);
   }

   &__btn button {
      @media (max-width: $mobile){
         width: 100%;
      }
   }
}