.main-slider {

   &__container {
   }

   &__body {
      padding-top: rem(140);
      position: relative;
      z-index: 2;
      @media (max-width: $tablet){
         padding-top: rem(80);
      }
      @media (max-width: $mobile){
         padding-top: rem(60);
      }
      @media (min-width: $tablet){
         display: flex;
      }
   }

   &__content {
      align-self: flex-start;
      flex: 0 0 percent(424, 1240);
      @include adaptiveValue("margin-bottom", 40, 15);
      @media (max-width: $tablet){
         margin: 0 rem(-15);
      }
   }

   &__slider {
      flex: 1 1 auto;
      min-width: 0;
      align-self: flex-end;
      
      @media (max-width: $tablet){
         margin: 0 rem(-15);
      }
   }

   &__wrapper {
      overflow: visible;
      @media (min-width: $tablet){
         @include adaptiveValue("width", 934, 290);
      }
   }

   &__slide {

   }
}
.content-main {
   background-color: rgba(255, 255, 255, 0.72);
   position: relative;
   z-index: 3;
   padding-left: rem(15);
   padding-right: rem(15);
   @include adaptiveValue("padding-top", 40, 15);
   @include adaptiveValue("padding-bottom", 50, 15);
   @media (min-width: $tablet){
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      background-color: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 40, 1);
   }

   &__title {
      @include adaptiveValue("font-size", 42, 24);
      font-weight: 700;
      line-height: 110%;
   }

   &__text {
      @include adaptiveValue("font-size", 20 , 16);
      line-height: 120%;
      padding-top: rem(25);
      font-weight: 600;
   }

   &__btn {
      margin-top: rem(25);
      width: 100%;
   }
}
.slider-main {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   @media (max-width: $tablet){
      flex-direction: column-reverse;
   }

   &__controls {
      margin-bottom: rem(20);
      align-self: stretch;
      @media (min-width: $tablet){
         padding-left: rem(20);
      }
      @media (max-width: $tablet){
         padding-top: rem(20);
      }
   }
}

.swiper-slide {
   position: relative;

   &__img {
      padding: 0 0 61% 0;
   }

   &__content {
      min-width: rem(295);
      max-width: rem(300);
      overflow: auto;
      color: inherit;
      display: flex;
      flex-direction: column;
      padding: rem(15);
      background:rgba(255, 255, 255, 0.9);
      @media (min-width: $mobile){
         position: absolute;
         min-width: rem(350);
         @include adaptiveValue("right", 40, 0);
         @include adaptiveValue("bottom", 40, 0);
      }
      @media (max-width: $mobile) {
         max-width: 100%;
      }
   }

   &__title {
      @include adaptiveValue("font-size", 28, 22);
      font-weight: 600;
      line-height: 120%;
   }

   &__text {
      line-height: 150%;
      color: $grayColor;
   }

   &__price {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      font-size: rem(20);
      &::before {
         margin-right: rem(10);
         font-size: rem(12);
      }
   }

}
.controls-slider {
   display: flex;
   align-items: center;

   &__dotts {
      flex: 1 1 auto;
      @media (max-width: $tablet){
         justify-content: center;
      }
      
   }

   &__arrows {
      @media (max-width: $tablet){
         display: none;
      }
   }
}

/* --------------------------- grid --------------------------------*/

.grid {
   &__list {
      display: grid;
      grid-gap: rem(20);
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: stretch;
      align-items: stretch;
      grid-auto-rows: minmax(100px, auto);
      // grid-template-areas: 
      //          "tel tel"
      //          "notebook notebook"
      //          "sale sale"
      //          "cartridge cartridge"
      //          "smart smart"
      //          "sites sites"
   }

   &__tel {
      grid-column: 1/3;
      grid-row: 1/3;
   }

   &__notebook {
      grid-column: 3;
      grid-row: 1/4;
   }

   &__sale {
      // grid-row: 3;
      grid-column: 1/3;
   }

   &__cartridge {
      // grid-column: 1/3;
   }

   &__smart {
      grid-column: 2/4;
   }

   &__sites {
      grid-column: 1/-1;
   }

   &__item {
      padding: rem(25);
      border-radius: rem(15);
      background-image: linear-gradient(-110deg, #0f6587, #0f96ab);
   }

//    @media (min-width:$mobile) {
//       .grid {
//          grid-template-columns: 2fr 4fr;
//          grid-template-areas:
//                "tel notebook"
//                "tel sale"
//                "cartridge smart"
//                "sites"
//       }
               
//   }
}

/*-------------------------------- categories -------------------------------*/

.categories{

   &__container {
   }

   &__link {
   }

   &__title {
   }

   &__item {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
      gap: rem(32);
   }
}

.category{
   background: #0f6587;
   display: flex;
   flex-direction: column;
   position: relative;
   border-radius: rem(15);
   @media (any-hover: hover) {
      &:hover {
         .category__actions {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   &__item {
   }

   &__image {
      padding-bottom: math.div(301px, 285px) * 100%;
   }

   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: rem(16) rem(16) rem(30) rem(16);
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      font-size: rem(24);
      font-weight: 600;
      line-height: 120%;
   }

   &__text {
      line-height: 150%;
   }

   &__actions {
      @media (any-hover: hover) {
         opacity: 0;
         visibility: visible;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: rgba(58, 58, 58, 0.74);
         border-radius: rem(15);
         transition: all 0.3s ease 0s;
         z-index: 3;
      }
   }
}

.actions-category {
   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__btn {
      flex: 1 1 100%;
      border: 1px solid #fff;
   }
}

